include README.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude target *
recursive-exclude cabi/target *

include Cargo.toml
include src/*.rs

recursive-include crfsuite-sys *

include cabi/Cargo.toml
include cabi/Cargo.lock
include cabi/src/*.rs
include cabi/include/*.h
