on: [push, pull_request]

name: Rust

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check

  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test
      - name: Install cargo-tarpaulin
        uses: taiki-e/install-action@cargo-tarpaulin
        if: matrix.os == 'ubuntu-latest'
      - name: Run cargo-tarpaulin
        run: cargo tarpaulin --out Xml
        if: matrix.os == 'ubuntu-latest'
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          files: cobertura.xml
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cobertura.xml
        if: matrix.os == 'ubuntu-latest'

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
